/* FONTS */
@font-face {
    font-family: "Lota";
    src: url("./assets/Los\ Andes\ \ Lota\ Grotesque\ Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lota";
    src: url("./assets/Los\ Andes\ \ Lota\ Grotesque\ Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lota";
    src: url("./assets/Los\ Andes\ \ Lota\ Grotesque\ Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Lota", sans-serif;
}

.navbar {
    width: 30%;
    margin: 2rem auto;
}

.flex-wrapper {
    display: flex;
}

.navbar__container {
    gap: 2rem;
    justify-content: center;
}

.hero {
    min-height: clamp(60vh, 70vh, 80vh);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .container {
    width: 80%;
}

.hero__name {
    text-transform: uppercase;
    font-weight: bold;
}

.hero__description {
    font-weight: 300;
}

.description-cta-wrapper {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.description {
    width: 50%;
    line-height: 1.85;
    font-size: 1.2rem;
}

.description-cta-btn {
    display: block;
    font-size: 1.2rem;
}

.container {
    width: 80%;
    margin: auto;
    padding: 4rem 0;
}

.large-text {
    font-size: 3.5rem;
    line-height: 1.2;
}

.medium-text {
    font-size: 1.75rem;
    line-height: 1.6;
}

.small-text {
    font-size: 1.2rem;
    line-height: 1.85;
}

.inverse-colors {
    background: black;
    color: white;
}

.about .container {
    justify-content: space-between;
    align-items: last baseline;
}

.about__headings {
    font-weight: 300;
}

.about__headings * {
    font-weight: inherit;
    width: 60%;
}

.about__small-heading {
    padding-bottom: 2rem;
}

.about__text {
    width: 50%;
    padding-top: 3rem;
}

.values__subheading {
    font-weight: 700;
    text-transform: uppercase;
}

.values__item:first-child p {
    padding-bottom: 1.2em;
}

.process__steps,
.process__small-heading {
    font-weight: 300;
}

.process__steps * {
    font-weight: inherit;
}

.process__big-heading {
    font-weight: 300;
}

.process__small-heading {
    padding-bottom: 2rem;
}

.process__description {
    font-weight: 400;
    padding: 1rem 0;
}

.process__steps {
    padding-top: 3rem;
}

.process__step {
    position: relative;
    padding: 2rem 0;
}

.process__step p {
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-out;
}

.process__step:hover p {
    opacity: 1;
}

.process__step::before {
    content: "";
    height: 1px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
    overflow: hidden;
}

.process__step:hover .grid-wrapper {
    grid-template-rows: 1fr;
}

.projects__heading {
    font-weight: 700;
    text-transform: uppercase;
}

.contact-form__field {
    display: block;
    width: 100%;
    resize: none;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    outline: 1px #676767 solid;
    background: black;
    transition: 0.2s all;
}

.contact-form__field:hover {
    outline: 1px #b1b1b1 solid;
    transition: 0.2s all;
}

.contact-form__field:focus {
    outline: 1px white solid;
    transition: 0.2s all;
}

.contact-form__name-container {
    justify-content: space-between;
    gap: 1rem;
}

.contact-form__name-part {
    flex: 1;
}
